<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jointing_robot">
  <xacro:arg name="use_mock_hardware" default="false" />
  <xacro:arg name="slowdown" default="100.0" />

  <xacro:include filename="$(find mason_description)/description/urdf/mason_description.urdf.xacro" />

  <xacro:include filename="$(find mason_description)/description/urdf/mason.ros2_control.xacro" />

  <xacro:mason />

  <xacro:mason_ros2_control
    name="MasonHardware" prefix="" slowdown="$(arg slowdown)" use_mock_hardware="$(arg use_mock_hardware)"/>
</robot>
